.banner {
    width: 100%;
    height: 100%;
    /*display: flex;*/
    display: inline-block;
}

.container-background-movie {
    width: 100%;
    height: 35vh;
    position: relative;
    
}

.container-background-movie::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background-image: linear-gradient(0deg,#000 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
    
}

.background-image-movie {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;

}

.play-circle-trailer {
    position: absolute;
    top: 34%;
    left: 42%;
    font-size: 50px;
    border: 0;
    background: transparent;
    z-index: 100;
}

.text-container {
    width: 100%;
    height: 50%;
    background-color: black; 
    padding: 15px;
}
/*0px 11px 8px -10px #CCC;*/
.text-container .info h1, .text-container .info h1 a{
    margin-top: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 0;
}

.banner-play-trailer{
    background-color: #202124;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  margin-top: 25px;
}

.banner-play-trailer img, .banner-play-trailer p{
    height: 12px;
    margin: 2px;
    font-size: 15px;
    letter-spacing: .05em;
    font-weight: 500;
    align-items: center;
}

.overview-banner{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    
}


@media screen and (max-width:1020px) {
    .container-background-movie {
    height: 58vh;
    }
    .play-trailer {
        top: 41%; 
        left: 45%;
        position: absolute;
        font-size: 50px;
        border: 0;
        background: transparent;
    }
}

@media screen and (min-width:1021px){
    .banner{
        display: flex;
        flex-direction: row-reverse;
        height: 80vh;
    }
    .container-background-movie {
        width: 70%;
        height: auto;
        
    }
    .container-background-movie::after{

        background-image: linear-gradient(to right,#000 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1));
    }

    .text-container{
        width: 34%;
        height: auto;
        padding: 140px 80px;
      
    }

    .info{
        position:absolute;
        width:566px;
           
    }
    .play-circle-trailer{
        display: none;
    }

}